
{{ form_start(form) }}
<div id="colorlib-contact">
	<div class="container">
		<div class="row">
        	<div class="col-md-10 col-md-offset-1 animate-box">
        		<h3>Votre réservation</h3>
        		<div class="row form-group">
        			<div class="col-md-12">
   						 {{ form_row(form.beginDate) }}
   						  </div>
        		</div>
        		
        		<div class="row form-group">
        			<div class="col-md-12">
                        {{ form_row(form.endDate) }}
                         </div>
        		</div>
        		{#
        		<div class="row form-group">
        			<div class="col-md-12">
   						 {{ form_row(form.plainPassword) }}
   						  </div>
        		</div> 
        		
        		<div class="row form-group">
        			<div class="col-md-12">
                           {{ form_row(form.users) }}	#}
<div class="form-group text-center"> 
        			<button class="btn btn-success">{{ button_label|default('Save') }}</button>
        		</div>
        	</div>
        </div>
    </div>
</div>{{ form_end(form) }}
        		{#


{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col form-group">
            {{ form_row(form.DateDebut) }}
        </div>
        <div class="col">
            <div class="form-group">
                    {{ form_row(form.DateFin) }}
            </div>
        </div>
        <div class="col-lg-6 offset-md-3 text-center form-group">
    	    <button class="btn btn-success">{{ button_label|default('Reserve') }}</button>
  	    </div>
    </div>
</div>
{{ form_end(form) }}

#}

