{{ form_start(form) }}

<div id="colorlib-contact">
	<div class="container">
		<div class="row">
        	<div class="col-md-10 col-md-offset-1 animate-box">
        		<h3>Décrivez votre chambre</h3>
        		<div class="row form-group">
        			<div class="col-md-12">
        				{{ form_row(form.summary) }}
        			</div>
        		</div>
        		
        		<div class="row form-group">
        			<div class="col-md-12">
                        {{ form_row(form.description) }}
        			</div>
        		</div>
        			</div>
        		</div>
        		
        		<div class="row form-group">
        			<div class="col-md-12">
        		<div class="row form-group">
        			<div class="col-md-6">
        				{{ form_row(form.capacity) }}
        			</div>
        			<div class="col-md-6">
        				{{ form_row(form.superficy) }}
        			</div>
        		</div>
        		
        		<div class="row form-group">
        			<div class="col-md-12">
        				{{ form_row(form.address) }}
        			</div>
        		</div>
        
        		<div class="row form-group">
        			<div class="col-md-6">
                        {{ form_row(form.price) }}
        			</div>
        			<div class="col-md-6">
        				{{ form_row(form.region) }}
        			</div>
        		</div>
        
        		<div class="row form-group">
        			<div class="col-md-6">
                        {{ form_row(form.imageName) }}
        			</div>
        			<div class="col-md-12">
        				{{ form_row(form.imageFile) }}
    				<br><br><br>
        				
        		
        		<div class="form-group text-center">
        			<button class="btn btn-success">{{ button_label|default('Save') }}</button>
        		</div>
        	</div>
        </div>
    </div>
</div>
        
    
    
    
{{ form_end(form) }}
