{% extends 'base.html.twig' %}

{% block title %}Liste des Regions{% endblock %}

{% block body %}
	<div id="colorlib-rooms" class="colorlib-light-grey" style="background-image : url('{{ asset('assets/images/img_bg_3.jpg')}}');background-repeat:no-repeat;background-position:center center; width:100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
					<h2>Découvrez nos magnifiques régions</h2>
				</div>
			</div>
		</div>
	</div>
    <h1></h1>
 
    <br><br><br>

	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
        
        <table class="table table-hover">
        	<thead>
        	<th>Voir les chambres associées à cette région</th>
        	<th>Nom de la region</th>
        	<th>Presentation</th>
        	</thead>
        	<tbody>
        {% for region in regions %}
        	
            <tr>
                <td><a href="{{ path('rooms_par_region', {'id': region.id}) }}"><i class="fa fa-eye"></i></td>
                <td> {{ region.name }}</a></td>
                <td>{{ region.presentation }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('region_edit', {'id': region.id}) }}" style="margin-left: 100px">Editer cette region</a>
                    {% endif %}
                </td>
                <br>
               
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune occurence trouvée</td>
            </tr>
        {% endfor %}

       {# <!-- ------------------------------------------------------------------------------------------------------------------------------- -->
      			  <td>
                    {% if is_granted('ROLE_OWNER')  %}
                    <a href="{{ path('owner_profile', {'id': owner.id}) }}"style="color: blue; font-size: 16px;">Voir votre profile&nbsp;&nbsp;&nbsp;</a>
                    {% else   %}
                    <a href="{{ path('client_profile', {'id': user.id}) }}"style="color: green; font-size: 16px;">Voir votre profile</a>
                    {% endif %}
    		      </td>
        <!-- ------------------------------------------------------------------------------------------------------------------------------- -->#}
                


        {% if is_granted('ROLE_ADMIN') %}
            <br>
            <a href="{{ path('region_new') }}">Créer une nouvelle région</a>
        {% endif %}
        </tbody>
	</table> 
	</div>   

    
{% endblock %}